.card{
    border: solid lightgreen 5px;
    text-align: center;
    margin:0 auto ; 
    width: 508px;
    height: 300px; 
    box-shadow:3px 3px rgba(0, 0, 0, 0.2) ;
    border-radius: 20px;
    background-color:white; 
}